body{
  background-color: rgb(215, 238, 250);
}
.App {
  text-align: center;
}

.main{
  margin-top: 200px;
}

.input{
  /* width: 100px; */
  height: fit-content;
  text-align: center;
  border: none;
  border: 2px solid rgb(180, 179, 255) ;
  padding: 5px;
}
.buttoninc{
  border: none;
  background-color: rgb(180, 179, 255);
  border: 2px solid rgb(180, 179, 255) ;
  border-radius: 10px 0 0 10px;
  padding-top: 10px;
  padding-bottom: 6px;
}

.buttondec{
  border: none;
  background-color: rgb(180, 179, 255);
  border: 2px solid rgb(180, 179, 255) ;
  border-radius: 0px 10px 10px 0px;
  padding-top: 10px;
  padding-bottom: 6px;
}